/propeller/emulator/cog/cnt/cnt.factor~

/README~
/.project

propeller/assembler/Datasheets/P8X32A/Cog.bak

propeller/assembler/Datasheets/P8X32A/CogMem.bak

propeller/assembler/Datasheets/P8X32A/LatestProject.dat

propeller/assembler/Datasheets/P8X32A/Processor.bak

*.bkp
